@import url("http://weloveiconfonts.com/api/?family=entypo");
@import url("https://fonts.googleapis.com/css?family=Quicksand"); 

body, html {  
	width: 100%;  
	height: 100%;  
	margin: 0;  
	padding: 0;
	background: #f0f0f0;
}

#container {
	width : 100%; 
	margin : 0 auto;	
	padding : 0;	
}

#banner {  
	width: 100%;  
	height:100%;
	position: fixed;  
	margin: 0;  
	font-size: 150%;
	font-family: "Helvetica";  
	color: #000000;
	text-align:center;
	letter-spacing : 3px;
	background : url(images/Kugel.png) no-repeat right center;
}

#banner h1 {
	text-align:center;
	margin-top : 0;
	letter-spacing : 3px;
	font-size : 200%;
	padding : 300px 0 0 0;
	color : #000;
	height:1050px;
	background: linear-gradient(to bottom,rgba(0,0,255,0) 0,rgba(0,0,255,.8) 80%,rgba(0,0,255,.8) 100%);
}

#header {
	width: 100%;  
	height:20%;
	position: abosolute;  
	margin: 0;  
	font-size: 150%;
	font-family: "Helvetica";  
	color: #000000;
	text-align:center;
	letter-spacing : 3px;
	background : url(images/Kugel.png) no-repeat right center;
}

#header h1 {
	text-align:center;
	margin-top : 0;
	letter-spacing : 3px;
	font-size : 200%;
	padding : 50px 0 0 0;
	color : #000000;
	height:78%;
	background: linear-gradient(to bottom,rgba(0,0,255,0) 0,rgba(0,0,255,.8) 80%,rgba(0,0,255,.8) 100%);
}

.indexcontent {  
	padding : 1em;
	padding-left: 30%;
	padding-right: 30%;
	width: 40%;  
	height: 1500px;  
	margin: 0;  
	top: 1050px;   
	position: relative;    
	color: #B0E1EB;
	font-family: "Quicksand", sans-serif; 
	font-size: 18px; 
	line-height: 1.6; 
	font-weight: 600; 
	background: #f0f0f0; 
}

.content {  
	padding : 1em;
	padding-left: 30%;
	padding-right: 30%;
	width: 40%;  
	margin: 0;    
	position: abosolute;    
	color: #B0E1EB;
	font-family: "Quicksand", sans-serif; 
	font-size: 18px; 
	line-height: 1.6; 
	font-weight: 600; 
}

#content1 {  
	padding : 1em;
	padding-left: 30%;
	padding-right: 30%;
	width: 40%;  
	margin: 0;    
	position: abosolute;    
	color: #B0E1EB;
	font-family: "Quicksand", sans-serif; 
	font-size: 18px; 
	line-height: 1.6; 
	font-weight: 600; 
}

#footer{
	padding : 1em;
	padding-left: 40%;
	padding-right: 40%;
	width: 20%;  
	height: 270px;  
	margin: 0;    
	background-color: rgba(0, 125, 255, 0.25);  
	position: relative;  
	font-size: 15px;  
	font-family: "Helvetica";  
	font-size:90%; 
	color:#000000; 
	text-align:center;
	top: 1050px;
	background: #4dd2ff;	
}

.contactformular{
	text-align: center;
	color: #000000;
}

.contactformular h1{
	text-align: center;
	color: #0080FF;
}

.bodyDark {
    background: #000000;
	color: #ffffff;
}

.bodyLight {
    background: #f0f0f0;
	color: #000000;
}

.aboutLight{
	text-align: center;
	color: #000000;
}

.aboutDark{
	text-align: center;
	color: #FFFFFF;
}

table, th, td {
	text-align:center;
	border: 0px solid black;
	padding: 10px;
}

a:link, a:visited {
	color : #2E9AFE;
	background : inherit;
	text-decoration : none;
}

a:hover {
	color : #2E9AFE;
	background : inherit;
	text-decoration : none;
}

a img {
	border: 0;
}

h2 {
	letter-spacing : 3px;
	font-size : 160%;
	padding : 10px;
	color : #250bcc;
}

ul { 
	list-style: none; 
	position: fixed; 
	top: 35%; 
	left: 0%; 
	transform: translateY(-50%); 
} 

ul li a { 
	display: inline-block; 
	margin-left: -2px; 
	height: 60px; 
	width: 60px; 
	border-radius: 0 25px 25px 0; 
	border: 2px solid #000; 
	background: #FFF; 
	margin-bottom: 1em; 
	transition: all .4s ease; 
	color: #2980b9; 
	text-decoration: none; 
	line-height: 60px; 
	position: relative; 
}

ul li a:hover { 
	cursor: pointer; 
	width: 180px; 
	color: #fff; 
} 

ul li a:hover span { 
	left: 0; 
} 

ul li a span { 
	padding: 0 30px 0 15px; 
	position: absolute; 
	left: -200px; 
	transition: left .4s ease; 
} 

ul li a i { 
	position: absolute; 
	top: 50%; 
	right: 20px; 
	transform: translateY(-50%); 
	font-size: 1.5em; 
} 
	
ul li .home { 
	background: rgba(34, 167, 240, 0.1); 
	border-color: #22A7F0; 
	color: #22A7F0; 
} 
	
ul li .home:hover { 
	background: #22a7f0; 
} 

ul li #home2{
	cursor: pointer; 
	width: 160px; 
	padding-left:20px; 
	background: #22a7f0; 
	color:#FFFFFF;
}
	
ul li .contact { 
	background: rgba(29, 180, 203, 0.1); 
	border-color: #1DB4CB; 
	color: #1DB4CB; 
	
} 
	
ul li .contact:hover { 
	background: #1DB4CB; 
} 
	
ul li #contact2{
	cursor: pointer; 
	width: 160px; 
	padding-left:20px; 
	background: #1DB4CB; 
	color:#FFFFFF;
}
	
ul li .mail { 
	background: rgba(0, 114, 198, 0.1); 
	border-color: #0072C6; 
	color: #0072C6; 
} 
	
ul li .mail:hover { 
	background: #0072C6; 
} 
	
ul li .github { 
	background: rgba(0, 0, 0, 0.1); 
	border-color: #000000; 
	color: #000000; 
} 
	
ul li .github:hover { 
	background: #000000; 
} 

ul li .githubDark{
	background: rgba(255, 255, 255, 0.1); 
	border-color: #FFFFFF; 
	color: #FFFFFF; 
}

ul li .githubDark:hover{
	background: #FFFFFF;
	color: #000000;
}
	
ul li .gplus { 
	background: rgba(255, 0, 0, 0.1); 
	border-color: #FF0000; 
	color: #FF0000; 
}
 
ul li .gplus:hover { 
	background: #FF0000; 
} 
	
ul li .twitter { 
	background: rgba(34, 167, 240, 0.1); 
	border-color: #22A7F0; 
	color: #22A7F0; 
} 
	
ul li .twitter:hover { 
	background: #22a7f0; 
} 
	
/* entypo */ 
	[class*="entypo-"]:before { 
	font-family: 'entypo', sans-serif; 
} 

textarea {
	font-family: arial;
}
	
